<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); -%>
</head>

<body class="container">

    <header>
      <%- include('partials/header'); -%>
    </header>

    <main>

        <section id="main">
            <h1>Mijn Lovr</h1>
        </section>

        <section>
          <%- include('partials/messages'); -%>
            <h2>Welkom <%= user.name %></h2>


            <table id="dashboardTable">
              <h3>Profielgegevens</h3>
              <tr>
                <th>Naam</th>
                <td><%= user.name %></td>
              </tr>
              <tr>
                <th>E-mail:</th>
                <td><%= user.email %></td>
              </tr>
              <tr>
                <th>Lid sinds: </th>
                <td><%= user.date.toDateString() %></td>
              </tr>
              <tr>
                <th>School: </th>
                <td><%= user.school %></td>
              </tr>
              <tr>
              <tr>
                  <th>Woonplaats: </th>
                  <td><%= user.location %></td>
              </tr>
                <tr>
                <th>Hobbys: </th>
                <td><%= user.hobbys %></td>
              </tr>
              <tr>
                <th>Bio: </th>
                <td><%= user.bio %></td>
              </tr>
            </table>



            <a href="/users/logout" class="btn">Uitloggen</a>
            <a href="/edit-profile" class="btn">Wijzig profiel</a>


        </section>

    </main>

    <footer>
      <%- include('partials/footer'); -%>
    </footer>

</body>

</html>
